<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<section class="main_section container-fluid">
    <div class="wrapper_table container">
       <h1>Список Учителей</h1>
        <div class="wrapper_form">
            <form method="get">
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" type="search" name="search_by" value="{{request.GET.search_by}}">
                    </div>
                    <div class="filter col-md-6">
                            <label>От <input type="number" name="min_age" value="{{request.GET.min_age}}"></label>
                            <label>До <input type="number" name="max_age" value="{{request.GET.max_age}}"></label>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-primary main_btn" value="Search!">
                    </div>
                </div>
            </form>
        </div>
        <table width="100%">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
            </tr>
            {% for teacher in teachers %}
                <tr align="center">
                    <td>{{teacher.first_name}}</td>
                    <td>{{teacher.last_name}}</td>
                    <td>{{teacher.age}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

</body>
</html>